/* Link fonts */
@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  src: url(../fonts/gilroylight.woff2) format("woff2"),
    url(../fonts/gilroylight.woff) format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  src: url(../fonts/gilroyextrabold.woff2) format("woff2"),
    url(../fonts/gilroyextrabold.woff) format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 300;
  font-style: normal;
  src: url(../fonts/opensanslight.woff2) format("woff2"),
    url(../fonts/opensanslight.woff) format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/opensans.woff2) format("woff2"),
    url(../fonts/opensans.woff) format("woff");
}

/* General styles */
body {
  /* min-width: 1200px; */
  font-family: "OpenSans", "Gilroy", "Arial", sans-serif;
  color: black;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 26px;
  letter-spacing: normal;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.btn-general {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}

/* Header index, catalog, promo and services slider, footer styles */
.main-header__search,
.main-header__signin a,
.main-header__service a,
.catalog-goods a,
.promo-slider__text,
.services-slider__text,
.main-footer__signin a,
.main-footer__service a {
  font-family: "OpenSans";
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
}

.main-header__signin a,
.main-header__service a,
.main-navigation a,
.catalog-goods a,
.main-footer__signin a,
.main-footer__service a,
.main-footer__navigation a,
.main-footer__phone,
.main-footer__social a,
.main-footer__developer {
  text-decoration: none;
  color: black;
}

.main-header__signin,
.main-header__service,
.main-navigation,
.catalog-goods,
.services-slider_list,
.about-us__list,
.main-footer__signin,
.main-footer__service,
.main-footer__navigation,
.main-footer__social {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navigation,
.main-footer__navigation {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.catalog-goods a,
.main-footer__signin a,
.main-footer__service a {
  line-height: 36px;
}

/* Main content styles */
/* Promo slider, services slider, about us and contacts, footer styles*/
.promo-slider__header,
.services-slider_header,
.about-us__title,
.contacts__title {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.47px;
}

.promo-slider__header,
.promo-slider__text,
.services-slider_header,
.services-slider__text,
.about-us__title,
.contacts__title,
.about-us__paragraph,
.contacts__paragraph,
.main-footer__address {
  margin: 0;
}

.promo-slider__text,
.promo-slider__desc-feature-detail,
.services-slider__text,
.about-us__paragraph,
.contacts__paragraph {
  color: #464646;
}

.promo-slider__desc-feature {
  font-family: "Gilroy";
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
}

.promo-slider__desc-feature-detail {
  font-family: "OpenSans";
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
}

/* Assortment style */
.assortment__desc {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
}

/* Services slider, about us and contacts */
.services-slider_header,
.about-us__title,
.contacts__title {
  line-height: 48px;
}

.services-slider__text {

}

/* Partners styles */
/* selectors */

/* About us and contacts styles*/
.about-us__paragraph,
.contacts__paragraph {
  font-family: "OpenSans";
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
}

.about-us__list {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
}

/* Footer styles */
.main-footer__signin a,
.main-footer__service a {
  color: rgba(255, 255, 255, 0.7);
}

.main-footer__address,
.main-footer__phone  {
  font-family: "OpenSans";
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: white;
}

.main-footer__phone {
  text-align: right;
}

.main-footer__navigation a,
.main-footer__social a,
.main-footer__developer {
  color: white;
}
