/* Link fonts */
@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

/* General styles */
body {
  min-width: 1200px;
  font-family: "OpenSans", "Gilroy", "Arial", sans-serif;
  color: black;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 26px;
  letter-spacing: normal;
}

.container-narrow {
  max-width: 1160px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.btn-general {
  position: relative;
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.btn-general::before {
  position: absolute;
  content: "";
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  width: 220px;
  height: 8px;
  background-color: #f0c52e;
}

.btn-general:hover::before,
.btn-general:focus::before {
  height: 40px;
  transition: height 0.3s;
}

.btn-general:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Header index, catalog, promo and services slider, assortment,
partners, footer, breadcrumbs, filter, sort, catalog, pagination styles */
.main-header__logo-link:hover path,
.main-header__logo-link:focus path {
  fill: rgba(0, 0, 0, 0.6);
}

.main-header__logo-link:active path {
  fill: rgba(0, 0, 0, 0.3);
}

.main-header__search,
.main-header__signin a,
.main-header__service a,
.catalog-goods a,
.promo-slider__text,
.services-slider__text,
.main-footer__signin a,
.main-footer__service a,
.main-header__signout a,
.main-footer__signout a {
  font-family: "OpenSans";
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
}

.main-header__logo-container a,
.main-header__signin a,
.main-header__service a,
.main-navigation a,
.assortment__list a,
.catalog-goods a,
.services-slider_list a,
.partners__list a,
.main-footer__signin a,
.main-footer__service a,
.main-footer__navigation a,
.main-footer__phone,
.main-footer__social a,
.main-footer__developer,
.main-header__signout a,
.breadcrumbs__list a,
.catalog-content__sort-type a,
.catalog-content__sort-direction a,
.catalog-content-cards__list a,
.catalog-content-pagination__list a,
.main-footer__signout a,
.main-footer__navigation-list a,
.main-footer__logo-link {
  text-decoration: none;
  color: black;
}

.main-header__search,
.main-header__signout .main-header__item-exit,
.catalog-content-pagination__list a {
  color: rgba(0, 0, 0, 0.3);
}

.main-header__signin,
.main-header__service,
.main-navigation,
.catalog-goods,
.assortment__list,
.services-slider_list,
.partners__list,
.about-us__list,
.main-footer__signin,
.main-footer__service,
.main-footer__navigation,
.main-footer__social,
.main-header__signout,
.breadcrumbs__list,
.catalog-filter__color-list,
.catalog-content__sort-type,
.catalog-content__sort-direction,
.catalog-content-cards__list,
.catalog-content-pagination__list,
.main-footer__signout,
.main-footer__navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-header-bg,
.assortment__bg {
  background-color: rgba(240, 197, 46, 0.5);
}

.main-navigation,
.main-footer__navigation,
.main-footer__navigation-list {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.catalog-goods a,
.main-footer__signin a,
.main-footer__service a {
  line-height: 36px;
}

.main-header__search:hover {
  color: rgba(0, 0, 0, 0.6);
}

.main-header__search:focus {
  color: black;
  /* add css for btn search */
}

.main-header__signin a:hover,
.main-header__signin a:focus,
.main-header__service a:hover,
.main-header__service a:focus,
.main-navigation a:hover,
.main-navigation a:focus,
.catalog-goods a:hover,
.catalog-goods a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-header__signin a:active,
.main-header__service a:active,
.main-navigation a:active,
.catalog-goods a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Main content styles */
/* Promo slider, services slider,
about us and contacts, footer, catalog styles */
.promo-slider__header,
.services-slider_header,
.about-us__title,
.contacts__title {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.47px;
}

.promo-slider__slide-1 {
  width: 384px;
  height: 486px;
}

.promo-slider__slide-2 {
  width: 345px;
  height: 485px;
}

.promo-slider__slide-3 {
  width: 526px;
  height: 334px;
}

.services-slider-bg {
  background-color: #e5e5e5;
}

.main-header__logo-container,
.promo-slider__header,
.promo-slider__text,
.services-slider_header,
.services-slider__text,
.about-us__title,
.contacts__title,
.about-us__paragraph,
.contacts__paragraph,
.main-footer__address,
.main-header-page,
.catalog-content-cards__title {
  margin: 0;
}

.promo-slider__text,
.promo-slider__desc-feature-detail,
.services-slider__text,
.about-us__paragraph,
.contacts__paragraph {
  color: #464646;
}

.promo-slider__desc-feature {
  font-family: "Gilroy";
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
}

.promo-slider__desc-feature-detail {
  font-family: "OpenSans";
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
}

/* Assortment, filter, catalog styles */
.assortment__desc,
.catalog-filter__form-goods legend,
.catalog-content-cards__title {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.assortment__image-1 {
  width: 97px;
  height: 55px;
}

.assortment__image-2 {
  width: 86px;
  height: 117px;
}

.assortment__image-3 {
  width: 71px;
  height: 87px;
}

.assortment__image-4 {
  width: 107px;
  height: 65px;
}

.assortment__image-5 {
  width: 56px;
  height: 98px;
}

.assortment__image-6 {
  width: 132px;
  height: 69px;
}

.assortment__link {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}

.assortment__link:hover,
.assortment__link:focus {
  background-color: #f0c52e;
}

.assortment__link:hover:active {
  opacity: 30%;
}

/* Services slider, about us and contacts styles */
.services-slider_header,
.about-us__title,
.contacts__title {
  line-height: 48px;
}

.services-slider__text {

}

/* Partners styles */
.partners__list img {
  width: 260px;
  height: 100px;
}

.partners__list a {
  opacity: 0.5;
  filter: grayscale(1);
}

.partners__list a:hover,
.partners__list a:focus {
  opacity: 1;
  filter: none;
}

/* About us and contacts styles*/
.about-us__paragraph,
.contacts__paragraph {
  font-family: "OpenSans";
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
}

.about-us__list {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
}

.contacts__map {
  width: 560px;
  height: 222px;
}

.modal__submit-form-write-to-us {
  padding: 0;
  border: 0;
  background-color: transparent;
}

/* Footer styles */
.main-footer__signin a,
.main-footer__service a,
.main-footer__signout a {
  color: rgba(255, 255, 255, 0.7);
}

.main-footer__signout .main-footer__item-signout {
  color: rgba(255, 255, 255, 0.3);
}

.main-footer__address,
.main-footer__phone  {
  font-family: "OpenSans";
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: white;
}

.main-footer__phone {
  text-align: right;
}

.main-footer__navigation a,
.main-footer__social a,
.main-footer__developer,
.main-footer__navigation-list a {
  color: white;
}

.main-footer-bg {
  background-color: #464646;
}

.main-footer__logo-link path {
  fill: rgba(255, 198, 0, 1);
}

.main-footer__logo-link:hover path,
.main-footer__logo-link:focus path {
  fill: rgba(255, 198, 0, 0.6);
}

.main-footer__logo-link:active path {
  fill: rgba(255, 198, 0, 0.3);
}

.main-footer__signin a:hover,
.main-footer__signin a:focus,
.main-footer__service a:hover,
.main-footer__service a:focus,
.main-footer__signout a:hover,
.main-footer__signout a:focus {
  color: rgba(255, 255, 255, 1);
}

.main-footer__signin a:active,
.main-footer__service a:active,
.main-footer__signout a:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-footer__navigation-list a:hover,
.main-footer__navigation-list a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.main-footer__navigation-list a:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-footer__social a {
  opacity: 30%;
}

.main-footer__social a:hover,
.main-footer__social a:focus {
  opacity: 60%;
}

.main-footer__social a:active {
  opacity: 10%;
}

.main-footer__developer {
  color: #ffc600;
}

.main-footer__developer:hover,
.main-footer__developer:focus {
  opacity: 60%;
}

.main-footer__developer:active {
  opacity: 30%;
}


/* Modal windows */
/* Write to us */
.modal__form-your-name,
.modal__form-your-email,
.modal__form-text-letter {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.modal__form-your-name input,
.modal__form-your-email input,
.modal__form-text-letter textarea {
  font-family: "OpenSans";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);
}

.modal {
  width: 960px;
}

/* Modal map */
.modal__map-big img {
  width: 960px;
  height: 559px;
}

/* Page catalog styles */
/* Main content styles */
.main-header-page {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
}

/* Breadcrumbs styles */
.breadcrumbs__list a,
.breadcrumbs__list li {
  font-family: "OpenSans";
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__list a:hover,
.breadcrumbs__list a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs__list a:active {
  color: rgba(0, 0, 0, 0.1);
}

/* Filter, sort styles */
.catalog-filter__title,
.catalog-content__sort-title {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.catalog-filter__title {
  background-color: #d9d9d9;
}

.catalog-filter__bg,
.catalog-content-sorg-bg,
.catalog-content-pagination {
  background-color: #ebebeb;
}

.catalog-filter__color-list label {
  font-family: "OpenSans";
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
}

.catalog-filter__submit {
  padding: 0;
  border: 0;
}

/* Sort, pagination styles */
.catalog-content__sort-type a,
.catalog-content__sort-direction a {
  font-family: "OpenSans";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-content__sort-direction a {
  color: rgba(0, 0, 0, 0.2);
}

.catalog-content__sort-type a:hover,
.catalog-content__sort-type a:focus,
.catalog-content-pagination__list a:hover,
.catalog-content-pagination__list a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-content__sort-direction a:hover,
.catalog-content__sort-direction a:focus {
  color: rgba(0, 0, 0, 0.4);
}

.catalog-content__sort-type a:active,
.catalog-content__sort-direction a:active,
.catalog-content-pagination__list a:active {
  color: rgba(0, 0, 0, 1);
}

/* Cards styles */
.catalog-content-cards__price {
  font-family: "Gilroy";
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  text-align: right;
  color: #464646;
}

.catalog-content-cards__item img {
  width: 360px;
  height: 380px;
}

/* Pagination styles */
.catalog-content-pagination__controls {
  border: 0;
  padding: 0;
  background-color: #ebebeb;
}

.catalog-content-pagination__controls,
.catalog-content-pagination__list a {
  font-family: "Gilroy";
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  text-decoration: none; 
}

.catalog-content-pagination__controls:hover,
.catalog-content-pagination__controls:focus {
  background-color: #d9d9d9;
}

.catalog-content-pagination__controls:active {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-content-pagination__controls:disabled {
  opacity: 0.5;

}

.catalog-content-pagination__prev {
  text-align: left;
}

.catalog-content-pagination__next {
  text-align: right;
}

